body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

#grid_container {
    box-sizing: border-box;
    background-color: blue;
    height: 40em;
    width: 40em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}